.frontpage {
    height: 100%;
    position: relative;
}

.frontPageMap {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.country {
    width: 50px;
    border: 1px solid black;
    border-radius: 4px;
}
.leaflet-popup-content-wrapper {
    background-color: white !important;
}

.leaflet-popup-tip {
   
    box-shadow: none !important;
}

.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
}



.tooltip {
    
    
}